@font-face {
  font-family: 'Montserrat-Regular';
  src: url('assets/fonts/Montserrat-Regular/montserrat-regular-webfont.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Regular/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
} 
@font-face {
  font-family: 'Montserrat-Medium';
  src: url('assets/fonts/Montserrat-Medium/montserrat-medium-webfont.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Medium/montserrat-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('assets/fonts/Montserrat-Bold/montserrat-bold-webfont.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Bold/montserrat-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat-BoldItalic';
  src: url('assets/fonts/Montserrat-BoldItalic/Montserrat-BoldItalic.woff2') format('woff2'),
    url('assets/fonts/Montserrat-BoldItalic/Montserrat-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('assets/fonts/Montserrat-SemiBold/montserrat-semibold-webfont.woff2') format('woff2'),
    url('assets/fonts/Montserrat-SemiBold/montserrat-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat-SemiBoldItalic';
  src: url('assets/fonts/Montserrat-SemiBoldItalic/montserrat-semibolditalic-webfont.woff2') format('woff2'),
    url('assets/fonts/Montserrat-SemiBoldItalic/montserrat-semibolditalic-webfont.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Calisto MT';
  src: url('assets/fonts/Calis-MTBol/CalisMTBol.woff2') format('woff2'),
    url('assets/fonts/Calis-MTBol/CalisMTBol.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Barlow-Medium';
  src: url('assets/fonts/Barlow-Medium/barlow-medium-webfont.woff2') format('woff2'),
    url('assets/fonts/Barlow-Medium/barlow-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Barlow-Bold';
  src: url('assets/fonts/Barlow-Bold/barlow-bold-webfont.woff2') format('woff2'),
    url('assets/fonts/Barlow-Bold/barlow-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Barlow-ExtraBold';
  src: url('assets/fonts/Barlow-ExtraBold/barlow-extrabold-webfont.woff2') format('woff2'),
    url('assets/fonts/Barlow-ExtraBold/barlow-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'BarlowCondensed-Bold';
  src: url('assets/fonts/BarlowCondensed-Bold/barlowcondensed-bold-webfont.woff2') format('woff2'),
    url('assets/fonts/BarlowCondensed-Bold/barlowcondensed-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'BarlowCondensed-Regular';
  src: url('assets/fonts/BarlowCondensed-Regular/BarlowCondensed-Regular.woff2') format('woff2'),
    url('assets/fonts/BarlowCondensed-Regular/BarlowCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'YanoneKaffeesatzBold';
  src: url('assets/fonts/YanoneKaffeesatzBold/YanoneKaffeesatzBold.woff2') format('woff2'),
    url('assets/fonts/YanoneKaffeesatzBold/YanoneKaffeesatzBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'AguafinaScriptRegular';
  src: url('assets/fonts/AguafinaScriptRegular/AguafinaScriptRegular.woff2') format('woff2'),
    url('assets/fonts/AguafinaScriptRegular/AguafinaScriptRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



*,*:focus,.btn,.btn:focus {
  outline: 0!important;
  text-decoration: none
}
a,button,input {
  outline: 0;
  border: 0;
  -ms-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease
}
a,a:hover,a:focus,button:hover,button:focus {
  text-decoration: none;
  outline: 0
}
body {
  background: #fff;
  color: #000;
  font-size: 22px;
  line-height: 1.2;
  font-family: 'Montserrat-Regular';
  background: url(assets/images/body-bg.jpg)
}
img {
  max-width: 100%;
  height: auto
}
.ulc {
  margin: 0;
  padding: 0;
  list-style: none;
}
.overlay-link {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10
}
.container {
  max-width: 1200px;
  width: 100%
}
.hide-md {
  display: block!important
}
.show-md {
  display: none!important
}
.hide-sm {
  display: block!important
}
.show-sm {
  display: none!important
}
.hide-xs {
  display: block!important
}
.show-xs {
  display: none!important
}
p { margin-bottom: 26px }
a { word-wrap: break-word }
strong { font-weight:normal }
.plr-30 {
  padding-left: 30px!important;
  padding-right: 30px!important
}
.plr-20 {
  padding-left: 20px!important;
  padding-right: 20px!important
}
.plr-10 {
  padding-left: 10px!important;
  padding-right: 10px!important
}
.plr-5{
  padding-left: 5px!important;
  padding-right: 5px!important
}
.fl-page-bdy-controller{
  max-width: 1170px;
  margin: 0 auto;
  background: #fff;
  -webkit-box-shadow: 0 5px 12px 0 rgba(180, 179, 179, 1);
  -moz-box-shadow: 0 5px 12px 0 rgba(180, 179, 179, 1);
  box-shadow: 0 5px 12px 0 rgba(180, 179, 179, 1)
}
h1 {
  font-size: 80px
}
h2 {
  font-size: 60px
}
h3 {
  font-size: 55px
}
h4 {
  font-size: 40px
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  line-height: 1.2;
} 
header.fl-hdr {
  background: #fff;
  -ms-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -ms-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
  position: relative;
  z-index: 5
} 
.header-innr {
  background: #fff;
  padding: 12px 0
} 
.hdr-left,
.hdr-rgt {
  width: 50%;
  float: left
}
.hdr-left {
  padding-right: 30px;
}
.hdr-rgt {
  text-align: right
}
.hdr-logo{
  display: inline-block;
  vertical-align: baseline;
  max-width: 207px
}
.secure-img{
  display: inline-block;
  vertical-align: baseline;
  max-width: 223px
}
.header .secure-img {
  max-width: 225px
}
.fl-hdr img{
  width: 100%
}
.fl-shipping {
  padding-bottom: 28px;
  background: #fff;
  box-sizing: border-box;
  position: relative
}
.fl-shipping img {
  display: inline-block;
  position: relative;
  top: 36px;
  width: 57px;
  height: 57px
}
.fl-shipping .two_sec img {
  top: 28px;
  width: 71px;
  height: 71px
}
.fl-shipping-col {
  width: 33.333%;
  float: left;
  padding-left: 7px;
  padding-right: 7px
}
.fl-shipping h4 {
  color: #000;
  font-family: 'Montserrat-Medium';
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 45px;
  width: 100%
}
.fl-shipping .two_sec>h4 {
  font-family: 'Montserrat-Bold';
  margin-top: 32px;
}
.fl-shipping:before {
  content: "";
  height: 14px;
  width: 100%;
  position: absolute;
  background: #ffa70b;
  left: 0;
  right: 0;
  border-radius: 50px;
  top: 57px;
}
.fl-special-offer-sec{
  position: relative;
  color: #fff;
  z-index: 1
}
.fl-special-offer-bg{
  position: absolute;
  top: -6px;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  background-position: center bottom -1px !important;
  z-index: 2
}
.special-offer-dsc {
  position: relative;
  padding: 45px 495px 25px 0;
  z-index: 3;
  color: #fff;
}
.special-offer-dsc > strong {
  font-family: 'Montserrat-Bold';
  font-size: 24px;
  color: #ffa70b;
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 12px;
}
.special-offer-dsc > span {
	font-family: 'Montserrat-SemiBold';
  font-size: 18px;
  color:#ffa70b;
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 15px;
}
.special-offer-dsc h2 {
  font-family: 'YanoneKaffeesatzBold';
  margin-bottom: 20px;
  line-height: 1;
}
.special-offer-dsc h2 span{
    color: #ffa70b
}
.special-offer-dsc > p {
  font-family: 'Montserrat-SemiBold';
  font-size: 24px;
  padding-top: 8px;
  margin-bottom: 10px;
}
.fl-doctor-intro-sec {
  padding: 52px 0 35px;
  background: #fff;
}
.fl-doctor-intro-twopart {
  margin-bottom: 20px;
}
.fl-doctor-intro-img {
  width: 48.82%;
  float: left;
}
.fl-doctor-intro-rgt-des {
  width: 51.18%;
  float: left;
  padding-left: 22px;
  padding-right: 20px;
  padding-top: 8px;
}
.fl-doctor-intro-sec p strong {
  font-family: 'Montserrat-Bold';
}
.fl-doctor-intro-rgt-des p:last-child{
  margin-bottom: 0;
}
.fl-shiny-hair-sec{
	position: relative;
	overflow:hidden;
}
.fl-shiny-hair-sec h3{
	font-family: 'YanoneKaffeesatzBold';
    line-height: 1;
}
.fl-shiny-hair-sec h3 span{
    display: block;
	color:#089047;
}
.fl-shiny-hair-sec p:last-child{
    margin-bottom: 0;
}
.fl-shiny-hair-block-1{
	padding-bottom: 38px;
	position: relative;
}
.fl-shiny-hair-block-1-hdr{
	padding:0 0 25px;
}
.fl-shiny-hair-block-1-twopart{
	position: relative;
	z-index: 2;
}
.fl-shiny-hair-block-1-twopart .fl-shiny-hair-img{
	width:45%;
	float: right;
	padding: 30px 0 40px;
}
.fl-shiny-hair-block-1-twopart .fl-shiny-hair-des{
	width:55%;
	float: left;
	padding-right: 70px;
}
.fl-shiny-hair-block-2{
	position: relative;
	z-index: 1
}
.fl-shiny-hair-block-2-twopart{
	padding-bottom: 35px;
	position: relative;
	z-index: 2;
}
.fl-shiny-hair-block-2-hdr{
	background-repeat: no-repeat !important;
	background-position: center bottom 1px !important;
	background-size: cover !important;
	padding: 14px 65px 23px;
	border-radius: 8px 8px 5px 8px;
	margin-bottom: 36px;
	color:#fff;
	position: relative;
	z-index: 2;
}
.fl-shiny-hair-block-2-twopart .fl-shiny-hair-img{
	width:48.82%;
	float: left;
}
.fl-shiny-hair-block-2-twopart .fl-shiny-hair-des{
	width:51.18%;
	float: left;
	padding-left: 31px;
}
.fl-shiny-hair-block-2-bq{
	padding: 22px 27px 25px;
	border:6px solid #089147;
	text-align: center;
	border-radius: 20px;
	background: #fff;	
	position: relative;
	z-index: 2;
}
.fl-shiny-hair-block-2-bq p{
	font-family: 'Montserrat-Bold';
	margin-bottom: 6px;
}
.fl-shiny-hair-block-2-bq span{
	font-family: 'Montserrat-SemiBold';
	color:#024f25;
	display: block;
	float: right;
	font-size: 24px;
}
.fl-shiny-hair-block-3{
	padding: 35px 0 25px;
}
.fl-shiny-hair-block-3-twopart .fl-shiny-hair-img{
	width:48.7%;
	float: right;
}
.fl-shiny-hair-block-3-twopart .fl-shiny-hair-des{
	width:51.3%;
	float: left;
	padding-right: 60px;
}
.ring-bg-1 {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  position: absolute;
  right: -225px;
  top: 243px;
  z-index: 1;
  width: 426px;
  height: 426px;
}
.ring-bg-2 {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  position: absolute;
  left: -241px;
  bottom: 137px;
  z-index: 1;
  width:426px;
  height:426px;
}

.fl-product-display-sec{
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  padding-bottom: 50px;
  color:#fff;
  position: relative;
}
.fl-product-display-hdr {
  background-repeat: repeat-x !important;
  background-position: top center !important;
  background-size: cover !important;
  font-family: 'YanoneKaffeesatzBold';
  position: relative;
  margin: -1px -25px 35px;
  padding: 35px 20px 30px;
}
.fl-product-display-hdr h3{
  line-height: 1;
}
.fl-product-display-big-img{
	padding-bottom:12px ;
}
.fl-product-display-big-img img{
	width:100%;
}
.fl-product-display-big-img h4{
	color:#ffb400;
	margin-bottom: 30px;
	font-family: 'Montserrat-SemiBold';
}
.fl-product-display-big-img h4 span{
	color:#fff;
	font-size: 32px;
}
.fl-product-display-tow-part .fl-pro-des-img{
	width:48.7%;
	float: left
}
.fl-product-display-tow-part .fl-pro-des{
	width:51.3%;
	float: left;
	padding-left: 32px;
}
.fl-product-display-tow-part .fl-pro-des p:last-child{
	margin-bottom: 0;
}
.fl-pro-wave-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 2;
  margin-top: -12px;
  background-repeat: repeat-x !important;
  background-position: bottom center !important;
  height: 18px;
}




.vr-secret-lies-sec-wrp{
    position: relative;
    overflow: hidden;
}
.vr-secret-lies-head{
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 100% 100% !important;
    padding: 12px 15px 22px;
    margin-bottom: 30px;
}
.top-wave-img {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    height: 320px;
    background: center bottom;
    background-repeat: repeat-x!important;
}
.vr-secret-lies-dsc{
    padding-right: 10px;
}
.vr-Biotin-Collagen-head h3,
.vr-secret-lies-head h3{
    margin: 0;
    color: #fff;
    text-align: center;
    line-height: 58px;
    font-family: 'YanoneKaffeesatzBold';
}


.vr-Biotin-Collagen-sec-wrp{
    padding-top: 40px;
    padding-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.vr-Biotin-Collagen-head{
    text-align: center;
    padding-bottom: 45px;
}
.vr-Biotin-Collagen-sec-wrp .vr-Biotin-Collagen-head h3 {
    margin-bottom: 35px;
}
.vr-Biotin-Collagen-head h3{
    margin: 0;
    color: #000;
    margin-bottom: 45px;
}
.vr-Biotin-Collagen-bdr strong{
    border: 6px solid #e3e3e3;
    display: inline-block;
    vertical-align: baseline;
    padding: 15px 80px 25px;
    font-size: 80px;
    line-height: 82px;
    color: #ffa70b;
    font-family: 'YanoneKaffeesatzBold';
    position: relative;
}
.vr-Biotin-Collagen-bdr{
    display:block;
    text-align: center;
}
span.vr-bdr-tp:after{
    content: "";
    position: absolute;
    right: -16px;
    top: -16px;
    width: 90px;
    height: 10px;
    background: #089147;
}
span.vr-bdr-tp:before {
    content: "";
    position: absolute;
    right: -16px;
    top: -6px;
    width: 10px;
    height: 80px;
    background: #089147;
}
span.vr-bdr-btm:after {
    content: "";
    position: absolute;
    left: -6px;
    bottom: -16px;
    width: 80px;
    height: 10px;
    background: #089147;
}
span.vr-bdr-btm:before {
    content: "";
    position: absolute;
    left: -16px;
    bottom: -16px;
    width: 10px;
    height: 90px;
    background: #089147;
}
.vr-Biotin-Collagen-dsc{
    padding-right: 10px;
}
.vr-Biotin-Collagen-dsc p span {
    display: inline-block;
    vertical-align: baseline;
}
span.fl-txt-line-bg {
    background-size: 100% 100%!important;
    background-repeat: no-repeat!important;
    background-position: center center;
    background-size: cover;
    display: inline-block;
    vertical-align: baseline;
    font-family: 'Montserrat-Bold';
    color: #000;
    padding: 0 14px 1px 10px;
    margin-left: -10px;
    margin-right: -14px;
}
.vr-vita-rose-head{
    background-repeat:repeat-x !important;
    background-position: top center!important;
    padding: 30px 15px 0;
    text-align: center;
    margin-right: -25px;
    margin-left: -25px;
}
.vr-vita-rose-sec-wrp{
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.vr-vita-rose-sec-wrp .vr-Biotin-Collagen-bdr strong {
    background: #fff;
    margin-top: -65px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 8px;
}
.vr-vita-rose-head h3{
    margin: 0;
    color: #fff;
    font-family: 'YanoneKaffeesatzBold';
    text-align: center;
    padding-bottom: 95px;
}

.vr-vita-rose-sec-wrp{
    background-repeat: repeat-x !important;
    background-position: center top !important;
    background-size: cover;
    padding-bottom: 20px;
}
.vr-vita-rose-content {
    padding-top: 50px;
    color: #fff;
}
.vr-vita-rose-content ul{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 35px;
}
.vr-vita-rose-content ul li{
    background: #023c1d;
    border-radius: 50px;
    padding: 8px 55px;
    margin-bottom: 15px;
    position: relative;
}
.vr-vita-rose-content ul li p strong{
    display: inline-block;
    vertical-align: baseline;
    font-family: 'Montserrat-Bold';
}
.vr-vita-rose-content ul li p{
    margin: 0;
    padding-left: 20px;
}
.vr-vita-rose-content ul li span {
    width: 52px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #ffa70b;
    border-radius: 50px 0 0 50px;
    background-repeat: no-repeat !important;
    background-size: 34px 24px !important;
    background-position: left 12px top 7px;
}
.vr-vita-rose-dsc{
    color: #fff;
}
.vr-vita-rose-img{
    padding-top: 15px;
}

.vr-gotu-kola-sec-wrp{
    position: relative;
}
.vr-gotu-kola-sec-wrp .vr-secret-lies-head{
    padding-top: 22px;
}
.vr-btm-wave-img {
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    margin-top: -1px;
    background-repeat: repeat-x!important;
    background-position: bottom center!important;
    height: 13px;
}
.vr-gotu-kola-sec-wrp .col-sm-12{
    position: static;
}
.vr-gotu-kola-sec-wrp .vr-secret-lies-head{
    margin-bottom: 0;
}
.vr-gotu-kola-sec-wrp .vr-Biotin-Collagen-bdr strong {
    padding-left: 29px;
    padding-right: 29px;
    color: #015225;
    max-width: 1000px;
    width: 100%;
    padding-top: 10px;
}
.vr-gotu-kola-content{
    padding-top: 40px;
}
.vr-gotu-kola-sec-wrp .vr-Biotin-Collagen-bdr{
    padding-bottom: 20px;
}
.vr-gotu-kola-item-wrp{
    padding-top: 15px;
}
.vr-gotu-kola-item-wrp ul{
    list-style: none;
    margin: 0 -10px;
    padding: 0;
}
.vr-gotu-kola-item-wrp ul li{
    width: 33.3333%;
    float: left;
    padding: 105px 10px 0;
}

.vr-gotu-kola-item-inr{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    text-align: center;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 20px;
    height: 320px;
    color: #fff;
    border-radius: 20px;
}
.vr-gotu-kola-item-inr span{
    display:inline-block;
    vertical-align: baseline;
    text-align: center;
}
.vr-gotu-kola-item-inr span img{
    margin-top: -105px;
}
.vr-gotu-kola-item-inr p{
    text-align: left;
    min-height: 175px;
    padding-top: 15px;
}
.vr-gotu-kola-item-inr p strong{
    display: inline-block;
    vertical-align: baseline;
    font-family: 'Montserrat-Bold';
}
.vr-Biotin-Collagen-img {
    position: relative;
    z-index: 3;
    padding-top: 5px;
}
.vr-Biotin-Collagen{
    padding-right: 10px;
}
.plr-tp-5{
    padding-top: 5px;
}
.sections-rgt-round-img-1 {
    position: absolute;
    z-index: 0;
    right: -225px;
    top: -115px;
    width: 426px;
    height: 426px;
    background-size: 100% 100%!important;
}
.sections-rgt-round-img-2 {
    position: absolute;
    z-index: 0;
    right: -185px;
    bottom: 50px;
    width: 426px;
    height: 426px;
    background-size: 100% 100%!important;
}
.sections-rgt-round-img-3 {
    position: absolute;
    z-index: 0;
    right: -200px;
    top: -15px;
    width: 426px;
    height: 426px;
    background-size: 100% 100%!important;
}
.sections-rgt-round-img-4 {
    position: absolute;
    z-index: -1;
    left: -220px;
    bottom: -140px;
    width: 426px;
    height: 426px;
    background-size: 100% 100%!important;
}
.sections-rgt-round-img-5 {
    position: absolute;
    z-index: -1;
    left: -230px;
    top: -5px;
    width: 426px;
    height: 426px;
    background-size: 100% 100%!important;
}
.vr-all-natural-sec-wrp {
    position: relative;
    overflow: hidden;
    top: -16px;
    padding-top: 50px;
}
.vr-all-natural-head{
    text-align: center;
}
.vr-all-natural-head h3{
    margin: 0;
    font-family: 'YanoneKaffeesatzBold';
    line-height: 1;
}
.vr-all-natural-head h3:last-child{
    color: #ffa70b;
    margin-top: 25px;
    margin-bottom: 35px;
}
.vr-all-natural-img-lft {
    padding-top: 45px;
}
.vr-all-natural-dsc{
    padding-right: 5px;
}
.vr-mrg-0 p{
    margin-bottom: 0;
}



.dst-ml-15 {
    margin-left: -15px;
}

.hundred-percentage-sec-1{
    padding-bottom: 90px;
}
.fl-des-normal em{
    display: block;
    color: #ffa70b;
    padding-top: 10px;
    font-size: 36px;
    line-height: 40px;
    font-family: 'AguafinaScriptRegular';
}
.hundred-percentage-img-01{
    padding-top: 95px;
}
.fl-risk-free-des-sec-1{
    padding-bottom: 40px;
}
.hundred-percentage-sec-1 .fl-des-normal strong{
  font-weight: 700;
}
.fl-faq-section{
    padding: 0 28px 40px;
    position: relative;
    margin-bottom: 65px;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background-size: cover!important;
}
.btm-wave-img{
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: -1px;
    background-repeat: repeat-x!important;
    background-position: bottom center!important;
    height: 13px;
}
.fl-faq-sec-hdr{
    background-repeat: repeat-x!important;
    background-position: top center!important;
    padding: 21px 20px 33px;
    margin-left: -28px;
    margin-right: -28px;
    margin-top: -5px;
    text-align: center;
    color: #fff;
}
.fl-faq-sec-hdr h3{
    margin: 0;
    font-family: 'YanoneKaffeesatzBold';
}
.fl-accordion-ctlr{
    padding-top: 50px;
}


.hh-accordion-title{
    background: #023c1d;
    color: #fff;
    font-size: 22px;
    line-height: 24px;
    padding: 0 100px 0 70px;
    position: relative;
    border-radius: 10px 10px 0 0;
    min-height: 85px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 25px;
    cursor: pointer;
}
.hh-accordion-title:after{
    content: "";
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    background: url(assets/images/plus-icon.png);
    width: 22px;
    height: 22px;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
}
.hh-accordion-title.hh-accordion-active:after{
    background: url(assets/images/minus-icon.png);
    width: 22px;
    height: 22px;
    background-position: center center;
    background-repeat: no-repeat;
}
.hh-accordion-title span{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #ffa70b;
    color: #fff;
    border-radius: 10px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    line-height: 56px;
    font-family: 'YanoneKaffeesatzBold';
    width: 65px;
}
.hh-accordion-title em{
    font-weight: normal;
    font-style: normal;
    font-family: 'Montserrat-BoldItalic';
    display: block;
    padding: 10px 0 10px 20px;
    font-size: 22px;
    line-height: 25px;
}

.hh-accordion-des{
    color: #fff;
    padding-bottom: 40px;
    display: none;
}
.hh-accordion-des-grd-ctlr ul{
    margin: 0 -10px;
}
.hh-accordion-des-grd-ctlr ul li{
    float: left;
    width: 33.3333%;
    padding: 105px 10px 45px;
}
.hh-accordion-des-grd-item{
    background-size: 100% 100%!important;
    background-repeat: no-repeat!important;
    padding: 0 28px 15px;
    min-height: 321px;
}
.hh-accordion-des-grd-item-img{
    text-align: center;
    padding-bottom: 17px;
}
.hh-accordion-des-grd-item-img img{
    margin-top: -105px;
}
.hh-accordion-des-grd-item-des p{
    margin-bottom: 0;
}
.hh-accordion-des-grd-item-des p strong{
    display: inline-block;
    vertical-align: baseline;
    font-family: 'Montserrat-Bold';
}

.hh-accordion-des-list ul li{
    padding-bottom: 25px;
}

.hh-accordion-des-list-item{
    background: #023c1d;
    border-radius: 30px;
    position: relative;
    padding: 10px 45px 10px 65px;
    min-height: 45px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.hh-accordion-des-list-item i{
    position: absolute;
    background: #ffa70b;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 30px 0 0 30px;
}
.hh-accordion-des-list-item span{
    display: block;
    vertical-align: baseline;
    padding-left: 15px;
}
.hh-accordion-des-list-item span strong{
    display: inline-block;
    vertical-align: baseline;
    font-family: 'Montserrat-Bold';
}



.fl-risk-free-des-controller {
    border: 6px solid #089147;
    padding: 28px 25px 0 27px;
    border-radius: 15px;
    background: #fff;
    display: flex;
    align-items: center;
}
.fl-risk-free-des{
    order: 1;
}
.fl-risk-free-des-rgt-img{
    order: 2;
}
.fl-risk-free-des{
    float: left;
    width: 70%;
    padding-right: 63px;
}
.fl-risk-free-des-rgt-img{
    float: right;
    text-align: right;
    width: 30%;
    padding-bottom: 22px;
}
.fl-risk-free-des-rgt-img img{
    margin-top: -5px;
}


.thank-you-line{
    text-align: center;
}

.fl-ftr-top-sec .thank-you-line strong{
    display: block;
    text-decoration: underline;
    font-weight: normal;
    color: #0039ad;
    font-family: 'Montserrat-Medium';
    padding-bottom: 50px;
    padding-top: 55px;
    font-size: 20px;
    line-height: 24px;
}

.sections-lft-round-img-ctlr,
.sections-rgt-round-img-ctlr{
    position: relative;
    overflow: hidden;
}
.sections-lft-round-img{
    position: absolute;
    z-index: 1;
    left: -213px;
    bottom: 340px;
    width: 426px;
    height: 426px;
    background-size: 100% 100%!important;
}
.sections-rgt-round-img{
    position: absolute;
    z-index: 1;
    right: -213px;
    bottom: 620px;
    width: 426px;
    height: 426px;
    background-size: 100% 100%!important;  
}
.sections-lft-round-img img,
.sections-rgt-round-img img{
    width: 100%;
}
.fl-pkg-section,
.fl-ftr-top-sec,
.hundred-percentage-sec-1,
.vr-all-natural-sec-wrp{
    position: relative;
    z-index: 2;
}
.hundred-percentage-sec-1-ctlr .sections-lft-round-img{
    bottom: initial;
    top: 515px;
}



.fl-pkg-sec-ftr-des{
    padding-top: 65px;
    text-align: left;
    padding-bottom: 24px;
}
.pkg-area-con-bg{
    padding: 45px 0 30px;
    background-size: cover!important;
    background-position: center center;
}
.pkg-area-con-bg.pkg-area-con-bg-1{
    padding-top: 0;
}


.fl-pkg-grd-controller > ul > li{
    float: left;
    width: 33.333%;
    padding: 0 10px;
}

.fl-pkg-grd-col-btm-bdr{
    background: #097298;
    border-radius: 8px;
    padding-bottom: 4px;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(207,205,205,1);
    -moz-box-shadow: 0px 0px 7px 1px rgba(207,205,205,1);
    box-shadow: 0px 0px 7px 1px rgba(207,205,205,1);
}
.fl-pkg-grd-col-bdr-solid{
    position: relative;
}
.fl-pkg-grd-col-bdr-solid:before,
.fl-pkg-grd-col-bdr-solid:after{
    content: "";
    background: #bdd4dc;
    position: absolute;
    top: 4px;
    bottom: 2px;
    width: 1px;
    z-index: 1;
}
.order1 .fl-pkg-grd-col-bdr-solid:before,
.order1 .fl-pkg-grd-col-bdr-solid:after{
    background: #ded4d4;
}
.order2 .fl-pkg-grd-col-bdr-solid:before,
.order2 .fl-pkg-grd-col-bdr-solid:after{
    background: #c6dbd7;
    top: 10px;
}
.fl-pkg-grd-col-bdr-solid:before{
    left: -1px;
}
.fl-pkg-grd-col-bdr-solid:after{
    right: 0;
}

.fl-pkg-grd-col{
    padding-bottom: 5px;
    position: relative;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col-btm-bdr{
    margin-top: -45px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col-btm-bdr{
    background: #d50001;
}
.fl-pkg-grd-controller > ul > li:nth-child(3) .fl-pkg-grd-col-btm-bdr{
    background: #1dad94;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col{
    padding-bottom: 10px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-ftr ul{
    padding-top: 10px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-price{
    margin-bottom: 20px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col-fea-img{
    padding-bottom: 45px;
    padding-top: 50px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-ftr{
    padding-top: 15px;
}
.fl-pkg-grd-col-hdr{
    border-radius: 5px 5px 0 0;
}
.fl-pkg-grd-col-hdr span,.fl-pkg-grd-col-hdr strong{
    display: block;
}
.fl-pkg-grd-col-hdr{
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-repeat: repeat-x!important;
    background-size: cover!important;
}
.fl-pkg-grd-col-hdr span{
    font-size: 32px;
    line-height: 36px;
    font-family: 'BarlowCondensed-Bold';
    padding: 20px 10px 30px;
    background-repeat: repeat-x!important;
    border-radius: 5px 5px 0 0;
    text-shadow: 0px 1px #019bd4;
}
.order1 .fl-pkg-grd-col-hdr span{
    text-shadow: 0px 1px #b82121;
}
.order2 .fl-pkg-grd-col-hdr span{
    text-shadow: 0px 1px #23b49b;
}
.fl-pkg-grd-col-hdr strong{
    padding: 0 10px 12px 10px;
    font-size: 40px;
    line-height: 45px;
    font-family: 'BarlowCondensed-Bold';
    text-shadow: 0px 2px #595653;
}
.fl-pkg-grd-col-fea-img{
    margin: 0 auto;
    position: relative;
    display: table;
    padding: 28px 15px 35px;
}
.fl-pkg-grd-col-fea-img div{
    display: inline-block;
    vertical-align: baseline;
}
.fl-pkg-grd-col-fea-img span{
    position: absolute;
    right: 32px;
    top: 16px;
}
.order3 .fl-pkg-grd-col-fea-img span{
    right: 0;
}
.order1 .fl-pkg-grd-col-fea-img span {
    top: 30px;
    right: 32px;
}
.fl-pkg-grd-col{
    background: #f7f7f7;
    border: 3px solid #fff;
    border-radius: 8px;
}
.fl-pkg-price{
    position: relative;
    text-align: center;
    display: inline-block;
    vertical-align: baseline;
    padding: 0 76px 0 28px;
    margin-bottom: 10px;
}
.fl-pkg-price:before {
    content: "$";
    position: absolute;
    left: 3px;
    top: -7px;
    font-size: 42px;
    line-height: 100%;
    font-family: 'Barlow-Bold';
    margin-right: 2px;
}
.fl-pkg-price:after{
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    background: #000;
    border-radius: 100%;
    font-family: 'Barlow-Bold';
    margin-right: 2px;
    right: 63px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.fl-pkg-price strong {
    font-size: 68px;
    line-height: 58px;
    font-weight: normal;
    font-family: 'Barlow-Bold';
    display: inline-block;
}
.fl-pkg-price sup {
    position: absolute;
    right: 16px;
    font-size: 43px;
    font-family: 'Barlow-Bold';
    top: -3px;
    line-height: 100%;
}
.fl-pkg-price sub {
    position: absolute;
    right: -5px;
    font-size: 38px;
    bottom: 9px;
    font-family: 'BarlowCondensed-Regular';
}
.fl-creditcards{
    padding-left: 8px;
    padding-top: 5px;
}
.fl-pkg-save-price {
    padding-top: 15px;
}
.fl-pkg-save-price strong {
    font-family: 'Barlow-Bold';
    display: block;
    font-weight: normal;
    font-size: 25px;
    text-transform: uppercase;
    color: #da0000;
}
.fl-footer-wrap{
    background-color: #0f1314;
    color: #fff;
    text-align: center;
    padding: 55px 0 37px;
    font-size: 14px;
    line-height: 19px;
    font-family: 'Montserrat-Regular';
}
.fl-footer-inner{
    padding: 0 13px;
}
.fl-footer-wrap p{
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 0;
}
.fl-ftr-nav ul{
    padding-bottom: 20px;
}
.fl-ftr-nav ul li,.fl-ftr-nav ul li a{
    display: inline-block;
    vertical-align: baseline;
}
.fl-ftr-nav ul li{
    font-size: 18px;
    line-height: 20px;
    font-family: 'Montserrat-Medium';    
}
.fl-ftr-nav ul li:first-child{
    padding-left: 0;
}
.fl-ftr-nav ul li:last-child{
    padding-right: 0;
}
.fl-ftr-nav ul li a{
    color: inherit;
}
.fl-ftr-nav ul li a:hover{
    opacity: .7;
}
.fl-pkg-grd-ftr{
    padding-left: 10px;
    padding-right: 10px;
    display: table;
    margin: 0 auto;
    padding-top: 10px;
}
.fl-add-to-cart-btn-img{
    margin-bottom: 15px;
}

.fl-add-to-cart-btn-img a{
    display: inline-block;
    vertical-align: baseline;
}
.fl-pkg-grd-ftr ul li{
    position: relative;
    padding: 3px 0 15px 40px;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: 'Barlow-Medium';
}
.fl-pkg-grd-ftr ul li em{
    position: absolute;
    left: 0;
    top: 0;
}
.fl-copyright{
    padding-bottom: 30px;
}
.fl-copyright p{
    text-align: center;
}
.fl-ftr-nav ul li{
    padding: 0 25px;
    position: relative;
}
.fl-ftr-nav ul li:not(:last-child):after{
    content: "";
    width: 1px;
    height: 14px;
    position: absolute;
    left: 100%;
    margin-left: -1px;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.fl-ftr-des{
    color: #6c6161;
    padding: 0 3px;
    text-align: left;

}
.fl-ftr-des p{
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 20px;
}
.fl-ftr-des p:last-child{
    margin-bottom: 0;
}


@media(max-width: 1599px){
    .container-xlg{
        max-width: 1470px;
    }
    .container-lg{
        max-width: 1400px;
    }
    .container{
        max-width: 1200px;
    }
}


@media(max-width: 1199px){
    .hide-md{
      display: none!important;
    }
    .show-md{
      display: block!important;
    }
    h1 {
      font-size: 60px
    }
    h2 {
      font-size: 50px
    }
    h3 {
      font-size: 45px
    }
    h4 {
      font-size: 35px
    }
    p br{
      display: none;
    }
    .special-offer-dsc {
        padding: 45px 455px 25px 0;
    }
    .fl-product-display-big-img h4 span {
        font-size: 28px;
    }

    .vr-secret-lies-img {
        text-align: center;
        padding-bottom: 30px;
    }
    .vr-secret-lies-dsc {
        padding-right: 0;
    }
    .vr-Biotin-Collagen-img {
        text-align: center;
        padding-bottom: 30px;
    }
    .vr-vita-rose-img {
        padding-top: 0;
        padding-bottom: 30px;
        text-align: center;
    }
    .vr-Biotin-Collagen-head h3,
    .vr-secret-lies-head h3 {
        line-height: 45px;
    }
    .vr-Biotin-Collagen-bdr strong{
        font-size: 69px;
        line-height: 69px;
    }
    .vr-vita-rose-content ul li{
        padding-right: 25px;
    }
    .vr-vita-rose-content ul li p {
        min-height: 50px;
    }
    .vr-vita-rose-content ul li span {
        background-position: left 12px top 18px;
    }
    .vr-vita-rose-content ul li p{
        padding-top: 12px;
        padding-left: 15px;
    }
    .vr-gotu-kola-sec-wrp .vr-Biotin-Collagen-bdr strong {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 862px;
        width: 100%;
    }
    .vr-gotu-kola-item-inr {
        padding-left: 15px;
        padding-right: 15px;
    }
    .vr-all-natural-img{
        text-align: center;
        padding-bottom: 30px;
    }
    .vr-all-natural-img-lft {
        padding-top: 20px;
        text-align: center;
        padding-bottom: 25px;
    }
    .vr-all-natural-dsc {
        padding-right: 0;
    }
    .sections-rgt-round-img-5,
    .sections-rgt-round-img-4,
    .sections-rgt-round-img-3,
    .sections-rgt-round-img-2,
    .sections-rgt-round-img-1{
        display: none;
    }


    .hh-accordion-des-grd-item{
        min-height: 373px;
    }
    .fl-shiny-hair-block-2-bq p br{
      display: none;
    }
} 

@media(max-width: 1023px){
    .fl-doctor-intro-img {
        width: 100%;
        float: left;
        text-align: center;
        padding-bottom: 25px;
    }
    .fl-doctor-intro-rgt-des {
        width: 100%;
        float: left;
        padding:0;
    }
    .fl-product-display-tow-part .fl-pro-des-img,
    .fl-shiny-hair-block-1-twopart .fl-shiny-hair-img,
    .fl-shiny-hair-block-2-twopart .fl-shiny-hair-img,
    .fl-shiny-hair-block-3-twopart .fl-shiny-hair-img {
        width: 100%;
        float: left;
        padding: 0 0 25px;
        text-align: center;
    }
    .fl-product-display-tow-part .fl-pro-des,
    .fl-shiny-hair-block-1-twopart .fl-shiny-hair-des,
    .fl-shiny-hair-block-2-twopart .fl-shiny-hair-des,
    .fl-shiny-hair-block-3-twopart .fl-shiny-hair-des {
        width: 100%;
        float: left;
        padding: 0;
    }
    .fl-shiny-hair-block-2-hdr {
        padding: 10px 20px 20px;
    }
    .ring-bg-1, 
    .ring-bg-2{
        display: none;
    }

    .full-width-1023{
        width: 100%!important;
    }
    .smile-img-01,
    .hundred-percentage-img-01{
        text-align: center;
        padding-bottom: 25px;
    }
    .hundred-percentage-img-01 {
        padding-top: 10px;
    }

}

@media(max-width: 991px){
    .hide-sm{
        display: none!important;
    }
    .show-sm{
        display: block!important;
    }
    h1 {
      font-size: 50px
    }
    h2 {
      font-size: 45px
    }
    h3 {
      font-size: 40px
    }
    h4 {
      font-size: 35px
    }
    p br{
        display: none;
    }
    .fl-shipping h4 {
        font-size: 18px
    }
    .secure-img {
        max-width: 195px;
    }
    .hdr-logo {
        max-width: 185px;
    }
    .special-offer-dsc {
        padding: 45px 348px 25px 0;
    }
    .fl-shiny-hair-block-2-bq {
        padding: 18px 15px;
    }
    .fl-shiny-hair-block-2-hdr {
        padding: 10px 15px 20px;
    }


    .vr-Biotin-Collagen-bdr strong{
        font-size: 65px;
        line-height: 65px;
    }
    .vr-gotu-kola-item-wrp ul li {
        width: 100%;
        float: left;
        padding: 140px 10px 0;
    }
    .vr-gotu-kola-item-wrp ul li:last-child{
        padding-bottom: 0;
    }
    .vr-vita-rose-content ul li:nth-child(2) p,
    .vr-vita-rose-content ul li:nth-child(1) p{
        padding-top: 12px;
    }
    .vr-vita-rose-content ul li p{
        padding-top: 0;
        padding-left: 18px;
    }
    .vr-vita-rose-head h3 {
        padding-bottom: 80px;
    }
    .vr-gotu-kola-item-inr {
        max-width: 350px;
        width: 100%;
        margin: 0 auto;
        height: auto;
    }
    .vr-gotu-kola-item-wrp {
        padding-bottom: 15px;
    }


    .fl-pkg-grd-controller > ul > li {
        width: 100%;
        margin-bottom: 20px;
    }
    .fl-pkg-grd-col-btm-bdr {
        max-width: 370px;
        margin: 0 auto;
    }
    .fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col-btm-bdr {
        margin-top: 0;
    }
    .fl-faq-section{
        margin-bottom: 20px;
    }
    .fl-risk-free-des-controller{
        display: block;
    }
    .fl-risk-free-des-rgt-img{
        width: 100%;
        text-align: center;
    }
    .fl-risk-free-des{
        width: 100%;
        padding-right: 0;
    }
    .hh-accordion-des-grd-ctlr ul li{
        width: 100%;
    }
    .hh-accordion-des-grd-item{
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        min-height: 330px;
    }
    .hh-accordion-title em{
        font-size: 20px;
    }
    .hh-accordion-title em br{
        display: none;
    }
    .fl-risk-free-des-rgt-img img{
        margin-top: 0;
    }
    .sections-rgt-round-img{
      display: none;
    }
    .hundred-percentage-sec-1 {
        padding-bottom: 70px;
    }
    .sections-lft-round-img{
      display: none;
    }
    .vr-secret-lies-head {
      padding: 12px 25px 22px;
  }
  .vr-gotu-kola-item-wrp{
    padding-top: 0;
  }
}

@media (max-width:830px){
    .fl-shipping h4 {
        font-size: 16px
    }
    .special-offer-dsc {
        padding: 40px 260px 25px 0;
    }
}

@media(max-width: 767px){
    .hide-xs{
        display: none!important;
    }
    .show-xs{
        display: block!important;
    }
    body {
        font-size: 20px;
    }
    p{
       margin-bottom: 20px;
    }
    h1 {
      font-size: 45px
    }
    h2 {
      font-size: 40px
    }
    h3 {
      font-size: 35px
    }
    h4 {
      font-size: 30px
    }
    .fl-shiny-hair-block-2-bq p {
        margin-bottom: 8px;
        font-size: 18px;
    }
    .fl-shiny-hair-block-2-bq span {
        font-size: 20px;
    }
    .special-offer-dsc {
        padding: 30px 0 25px;
    }
    .special-offer-dsc > strong {
        font-size: 22px;
    }
    .special-offer-dsc > p {
        font-size: 22px;
    }
    .fl-product-display-big-img h4 span {
        font-size: 24px;
    }

    .vr-Biotin-Collagen-head h3,
    .vr-secret-lies-head h3 {
        line-height: 40px;
    }
    .vr-Biotin-Collagen-bdr strong{
        font-size: 60px;
        line-height: 60px;
    }
    .vr-Biotin-Collagen-sec-wrp {
        padding-top: 10px;
    }
    .vr-Biotin-Collagen-bdr strong {
        padding: 15px 55px 25px;
    }
    .vr-Biotin-Collagen-head h3 {
        margin-bottom: 30px;
    }
    .vr-vita-rose-head h3{
        line-height: 40px;
    }
    .vr-all-natural-head h3 br{
        display: none;
    }
    .vr-all-natural-sec-wrp {
        padding-top: 40px;
    }
    .vr-gotu-kola-content {
        padding-top: 20px;
    }

    .fl-ftr-des{
        padding: 0;
    }
    .fl-ftr-top-sec .thank-you-line strong{
        font-size: 20px;
    }
    .sections-lft-round-img{
        left: -140px;
        width: 280px;
        height: 280px;
    }
    .hundred-percentage-sec-1 {
        padding-bottom: 45px;
    }
    .hh-accordion-title{
        padding-right: 80px;
    }
    .hh-accordion-title:after{
        right: 29px;
    }
    .special-offer-dsc{
      padding-right: 220px;
    }
}

@media(max-width: 639px){
    .fl-shipping .two_sec img {
        width: 65px;
        height: 65px
    }    
    .fl-shipping img {
        width: 50px;
        height: 50px
    }
    .secure-img {
        max-width: 160px;
    }
    .hdr-logo {
        max-width: 150px;
    }
    .fl-shiny-hair-block-2-bq {
        border: 3px solid #089147;
        border-radius: 15px;
    }
    .special-offer-dsc{
      padding-right: 180px;
    }

}
 
@media(max-width: 575px){
    .fl-shiny-hair-sec h3 br{
        display: none;
    }
    .fl-product-display-hdr {
        padding: 18px 15px 10px;
    }
    .fl-shiny-hair-block-2-bq span {
        float: none;
    }

    .vr-Biotin-Collagen-bdr strong{
        font-size: 52px;
        line-height: 52px;
    }
    .vr-Biotin-Collagen-bdr strong {
        padding: 15px 40px 25px;
    }
    .vr-vita-rose-sec-wrp .vr-Biotin-Collagen-bdr strong {
        padding-left: 20px;
        padding-right: 20px;
    }
    .vr-gotu-kola-item-inr p {
        min-height: auto;
        padding-top: 15px;
    }
    .vr-gotu-kola-item-inr span {
        max-width: 140px;
        width: 100%;
    }
    .vr-gotu-kola-item-wrp {
        padding-top: 0;
    }
    .vr-gotu-kola-item-inr span img {
        margin-top: -80px;
    }
    .vr-vita-rose-head h3 {
        padding-bottom: 70px;
    }
    .vr-vita-rose-content ul li {
        padding-left: 40px;
    }
    .vr-vita-rose-content ul li span {
        width: 40px;
        background-size: 25px 15px !important;
        background-position: left 8px top 22px;
    }

    .fl-creditcards{
        padding-left: 0;
    }
    .fl-risk-free-des-controller{
        padding-left: 15px;
        padding-right: 15px;
    }
    .fl-des-normal em {
        padding-top: 5px;
        font-size: 33px;
    }

    .hh-accordion-title em {
        font-size: 18px;
        padding-left: 15px;
    }
    .hh-accordion-title{
        padding-left: 40px;
    }
    .hh-accordion-title span {
        width: 40px;
        font-size: 43px;
    }
    .hh-accordion-title:after{
        width: 18px;
        background-size: 100% auto!important;
    }
    .hh-accordion-title {
        padding-right: 65px;
    }
    .hh-accordion-title:after {
        right: 23px;
    }
    .fl-faq-section{
        padding-bottom: 40px;
    }
    .hh-accordion-des-list-item{
        padding: 10px 25px 10px 45px;
    }
    .hh-accordion-des-list-item i{
        width: 45px;
    }
    .hh-accordion-des-list-item i img{
        width: 26px;
    }
    .hh-accordion-des-grd-ctlr ul li{
        padding-bottom: 35px;
    }
    .hh-accordion-des-grd-item{
        padding-left: 15px;
        padding-right: 15px;
    }
    .special-offer-dsc{
      padding-right: 110px;
    }

}

@media(max-width: 538px){
    .vr-vita-rose-content ul li p {
        min-height: 70px;
    }
    .vr-vita-rose-content ul li span {
        background-position: left 12px top 28px;
    }
    .vr-vita-rose-content ul li:nth-child(2) p{
        padding-top: 22px;
    }
    .vr-vita-rose-content ul li:nth-child(3) p{
        padding-top: 12px;
    }

}

@media(max-width: 479px){
    .fl-shipping-progress-bar {
        margin-top: -10px
    }    
    .fl-shipping {
        margin-left: -15px;
        margin-right: -15px;
        padding-bottom: 12px
    }    
    .fl-shipping h4 {
        font-size: 14px
    }    
    .fl-shipping:before {
        height: 12px
    }    
    .fl-shipping-col {
        width: 30%;
        float: left
    }    
    .fl-shipping-col.two_sec {
        width: 40%;
        float: left
    }    
    .fl-shipping-col.two_sec span {
        display: block
    }
    .secure-img {
        max-width: 120px;
    }
    .hdr-logo {
        max-width: 110px;
    }

    .vr-Biotin-Collagen-bdr strong{
        font-size: 50px;
        line-height: 50px;
    }
    .vr-vita-rose-content ul li p {
        padding-left: 10px;
        font-size: 16px;
    }
    .vr-vita-rose-content ul li {
        padding-right: 15px;
    }
    .vr-vita-rose-content ul li p {
        min-height: 40px;
    }
    .vr-vita-rose-content ul li:nth-child(2) p {
        padding-top: 12px;
    }
    .vr-vita-rose-content ul li:nth-child(1) p {
        padding-top: 8px;
    }
    .vr-vita-rose-content ul li:nth-child(3) p {
        padding-top: 5px;
    }


    .fl-ftr-nav ul li {
        padding: 0 16px;
        font-size: 15px;
    }
    .fl-footer-wrap p{
        font-size: 13px;
    }
    .fl-footer-wrap{
        padding: 45px 0 55px;
    }
    .vr-gotu-kola-item-wrp ul li {
      padding: 120px 10px 0;
    }
    .vr-vita-rose-content ul li span {
      background-position: left 12px top 20px;
    }
    .special-offer-dsc{
      padding-right: 60px;
    }

}

@media(max-width: 458px){
    .vr-vita-rose-sec-wrp .vr-Biotin-Collagen-bdr strong {
        margin-top: -80px;
    }
    .vr-vita-rose-head h3 {
        padding-bottom: 110px;
    }
    .special-offer-dsc{
      padding-right: 20px;
    }
}


@media(max-width: 359px){
    .fl-shipping h4 {
        font-size: 13px;
    }
    .special-offer-dsc{
      padding-right: 0;
    }
}













