

header.fl-hdr {
    background: #fff;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -ms-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    position: relative;
    z-index: 5
} 
.header-innr {
    background: #fff;
    padding: 12px 0
} 
.hdr-left,
.hdr-rgt {
    width: 50%;
    float: left
}
.hdr-left {
    padding-right: 30px
}
.hdr-rgt {
    text-align: right
}
.hdr-logo{
    display: inline-block;
    vertical-align: baseline;
    max-width: 207px
}
.secure-img{
    display: inline-block;
    vertical-align: baseline;
    max-width: 223px
}
.header .secure-img {
    max-width: 225px
}
.fl-hdr img{
    width: 100%
}
.fl-shipping {
    padding-bottom: 28px;
    background: #fff;
    box-sizing: border-box;
    position: relative
}
.fl-shipping img {
    display: inline-block;
    position: relative;
    top: 36px;
    width: 57px;
    height: 57px
}
.fl-shipping .two_sec img {
    top: 28px;
    width: 71px;
    height: 71px
}
.fl-shipping-col {
    width: 33.333%;
    float: left;
    padding-left: 7px;
    padding-right: 7px
}
.fl-shipping h4 {
    color: #000;
    font-family: 'Montserrat-Medium';
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 45px;
    width: 100%
}
.fl-shipping .two_sec>h4 {
    font-family: 'Montserrat-Bold';
    margin-top: 32px;
}
.fl-shipping:before {
    content: "";
    height: 14px;
    width: 100%;
    position: absolute;
    background: #ffa70b;
    left: 0;
    right: 0;
    border-radius: 50px;
    top: 57px;
}
.fl-special-offer-sec{
    position: relative;
    color: #fff;
    z-index: 1
}
.fl-special-offer-bg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center bottom -1px !important;
    z-index: 2
}
.special-offer-dsc {
    position: relative;
    padding: 45px 495px 25px 0;
    z-index: 3;
    color: #fff;
}
.special-offer-dsc > strong {
    font-family: 'Montserrat-Bold';
    font-size: 24px;
    color: #ffa70b;
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: 12px;
}
.special-offer-dsc > span {
	font-family: 'Montserrat-SemiBold';
    font-size: 18px;
    color:#ffa70b;
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: 15px;
}
.special-offer-dsc h2 {
    font-family: 'YanoneKaffeesatzBold';
    margin-bottom: 20px;
    line-height: 1;
}
.special-offer-dsc h2 span{
    color: #ffa70b
}
.special-offer-dsc > p {
    font-family: 'Montserrat-SemiBold';
    font-size: 24px;
    padding-top: 8px;
    margin-bottom: 10px;
}
.fl-doctor-intro-sec {
    padding: 52px 0 35px;
    background: #fff;
}
.fl-doctor-intro-twopart {
    margin-bottom: 20px;
}
.fl-doctor-intro-img {
    width: 48.82%;
    float: left;
}
.fl-doctor-intro-rgt-des {
    width: 51.18%;
    float: left;
    padding-left: 22px;
    padding-right: 20px;
    padding-top: 8px;
}
.fl-doctor-intro-sec p strong {
    font-family: 'Montserrat-Bold';
}
.fl-doctor-intro-rgt-des p:last-child{
    margin-bottom: 0;
}
.fl-shiny-hair-sec{
	position: relative;
	overflow:hidden;
}
.fl-shiny-hair-sec h3{
	font-family: 'YanoneKaffeesatzBold';
    line-height: 1;
}
.fl-shiny-hair-sec h3 span{
    display: block;
	color:#089047;
}
.fl-shiny-hair-sec p:last-child{
    margin-bottom: 0;
}
.fl-shiny-hair-block-1{
	padding-bottom: 38px;
	position: relative;
}
.fl-shiny-hair-block-1-hdr{
	padding:0 0 25px;
}
.fl-shiny-hair-block-1-twopart{
	position: relative;
	z-index: 2;
}
.fl-shiny-hair-block-1-twopart .fl-shiny-hair-img{
	width:45%;
	float: right;
	padding: 30px 0 40px;
}
.fl-shiny-hair-block-1-twopart .fl-shiny-hair-des{
	width:55%;
	float: left;
	padding-right: 70px;
}
.fl-shiny-hair-block-2{
	position: relative;
	z-index: 1
}
.fl-shiny-hair-block-2-twopart{
	padding-bottom: 35px;
	position: relative;
	z-index: 2;
}
.fl-shiny-hair-block-2-hdr{
	background-repeat: no-repeat !important;
	background-position: center bottom 1px !important;
	background-size: cover !important;
	padding: 14px 65px 23px;
	border-radius: 8px 8px 5px 8px;
	margin-bottom: 36px;
	color:#fff;
	position: relative;
	z-index: 2;
}
.fl-shiny-hair-block-2-twopart .fl-shiny-hair-img{
	width:48.82%;
	float: left;
}
.fl-shiny-hair-block-2-twopart .fl-shiny-hair-des{
	width:51.18%;
	float: left;
	padding-left: 31px;
}
.fl-shiny-hair-block-2-bq{
	padding: 22px 27px 25px;
	border:6px solid #089147;
	text-align: center;
	border-radius: 20px;
	background: #fff;	
	position: relative;
	z-index: 2;
}
.fl-shiny-hair-block-2-bq p{
	font-family: 'Montserrat-Bold';
	margin-bottom: 6px;
}
.fl-shiny-hair-block-2-bq span{
	font-family: 'Montserrat-SemiBold';
	color:#024f25;
	display: block;
	float: right;
	font-size: 24px;
}
.fl-shiny-hair-block-3{
	padding: 35px 0 25px;
}
.fl-shiny-hair-block-3-twopart .fl-shiny-hair-img{
	width:48.7%;
	float: right;
}
.fl-shiny-hair-block-3-twopart .fl-shiny-hair-des{
	width:51.3%;
	float: left;
	padding-right: 60px;
}
.ring-bg-1 {
    position: absolute;
    right: -225px;
    top: 264px;
    z-index: 1;
}
.ring-bg-2 {
    position: absolute;
    left: -241px;
    bottom: 137px;
    z-index: 1;
}

.fl-product-display-sec{
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
	padding-bottom: 50px;
	color:#fff;
	position: relative;
}
.fl-product-display-hdr {
	background-repeat: repeat-x !important;
    background-position: top center !important;
    background-size: cover !important;
	font-family: 'YanoneKaffeesatzBold';
	position: relative;
    margin: -1px -25px 35px;
	padding: 35px 20px 30px;
}
.fl-product-display-hdr h3{
    line-height: 1;
}
.fl-product-display-big-img{
	padding-bottom:12px ;
}
.fl-product-display-big-img img{
	width:100%;
}
.fl-product-display-big-img h4{
	color:#ffb400;
	margin-bottom: 30px;
	font-family: 'Montserrat-SemiBold';
}
.fl-product-display-big-img h4 span{
	color:#fff;
	font-size: 32px;
}
.fl-product-display-tow-part .fl-pro-des-img{
	width:48.7%;
	float: left
}
.fl-product-display-tow-part .fl-pro-des{
	width:51.3%;
	float: left;
	padding-left: 32px;
}
.fl-product-display-tow-part .fl-pro-des p:last-child{
	margin-bottom: 0;
}
.fl-pro-wave-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 2;
    margin-top: -12px;
    background-repeat: repeat-x !important;
    background-position: bottom center !important;
    height: 18px;
}










@media(max-width: 1199px){
    .special-offer-dsc {
        padding: 45px 455px 25px 0;
    }
    .fl-product-display-big-img h4 span {
        font-size: 28px;
    }
} 

@media(max-width: 1023px){
    .fl-doctor-intro-img {
        width: 100%;
        float: left;
        text-align: center;
        padding-bottom: 25px;
    }
    .fl-doctor-intro-rgt-des {
        width: 100%;
        float: left;
        padding:0;
    }
    .fl-product-display-tow-part .fl-pro-des-img,
    .fl-shiny-hair-block-1-twopart .fl-shiny-hair-img,
    .fl-shiny-hair-block-2-twopart .fl-shiny-hair-img,
    .fl-shiny-hair-block-3-twopart .fl-shiny-hair-img {
        width: 100%;
        float: left;
        padding: 0 0 25px;
        text-align: center;
    }
    .fl-product-display-tow-part .fl-pro-des,
    .fl-shiny-hair-block-1-twopart .fl-shiny-hair-des,
    .fl-shiny-hair-block-2-twopart .fl-shiny-hair-des,
    .fl-shiny-hair-block-3-twopart .fl-shiny-hair-des {
        width: 100%;
        float: left;
        padding: 0;
    }
    .fl-shiny-hair-block-2-hdr {
        padding: 10px 20px 20px;
    }
    .ring-bg-1, 
    .ring-bg-2{
        display: none;
    }

}

@media(max-width: 991px){
    .fl-shipping h4 {
        font-size: 18px
    }
    .secure-img {
        max-width: 195px;
    }
    .hdr-logo {
        max-width: 185px;
    }
    .special-offer-dsc {
        padding: 45px 348px 25px 0;
    }
    .fl-shiny-hair-block-2-bq {
        padding: 18px 15px;
    }
    .fl-shiny-hair-block-2-hdr {
        padding: 10px 15px 20px;
    }
}

@media (max-width:830px){
    .fl-shipping h4 {
        font-size: 16px
    }
    .special-offer-dsc {
        padding: 40px 260px 25px 0;
    }
}

@media(max-width: 767px){
    .fl-shiny-hair-block-2-bq p {
        margin-bottom: 8px;
        font-size: 18px;
    }
    .fl-shiny-hair-block-2-bq span {
        font-size: 20px;
    }
    .special-offer-dsc {
        padding: 30px 0 25px;
    }
    .special-offer-dsc > strong {
        font-size: 22px;
    }
    .special-offer-dsc > p {
        font-size: 22px;
    }
    .fl-product-display-big-img h4 span {
        font-size: 24px;
    }
}

@media(max-width: 639px){
    .fl-shipping .two_sec img {
        width: 65px;
        height: 65px
    }    
    .fl-shipping img {
        width: 50px;
        height: 50px
    }
    .secure-img {
        max-width: 160px;
    }
    .hdr-logo {
        max-width: 150px;
    }
    .fl-shiny-hair-block-2-bq {
        border: 3px solid #089147;
        border-radius: 15px;
    }
}
 
@media(max-width: 575px){
    .fl-shiny-hair-sec h3 br{
        display: none;
    }
    .fl-product-display-hdr {
        padding: 18px 15px 10px;
    }
    .fl-shiny-hair-block-2-bq span {
        float: none;
    }
}

@media(max-width: 479px){
    .fl-shipping-progress-bar {
        margin-top: -10px
    }    
    .fl-shipping {
        margin-left: -15px;
        margin-right: -15px;
        padding-bottom: 12px
    }    
    .fl-shipping h4 {
        font-size: 14px
    }    
    .fl-shipping:before {
        height: 12px
    }    
    .fl-shipping-col {
        width: 30%;
        float: left
    }    
    .fl-shipping-col.two_sec {
        width: 40%;
        float: left
    }    
    .fl-shipping-col.two_sec span {
        display: block
    }
    .secure-img {
        max-width: 120px;
    }
    .hdr-logo {
        max-width: 110px;
    }


}

@media(max-width: 359px){
    .fl-shipping h4 {
        font-size: 14px;
    }
}













