
.dst-ml-15 {
    margin-left: -15px;
}

.hundred-percentage-sec-1{
    padding-bottom: 90px;
}
.fl-des-normal em{
    display: block;
    color: #ffa70b;
    padding-top: 10px;
    font-size: 36px;
    line-height: 40px;
    font-family: 'AguafinaScriptRegular';
}
.hundred-percentage-img-01{
    padding-top: 95px;
}
.fl-risk-free-des-sec-1{
    padding-bottom: 40px;
}
.fl-faq-section{
    padding: 0 28px 50px;
    position: relative;
    margin-bottom: 65px;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background-size: cover!important;
}
.btm-wave-img{
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: -1px;
    background-repeat: repeat-x!important;
    background-position: bottom center!important;
    height: 13px;
}
.fl-faq-sec-hdr{
    background-repeat: repeat-x!important;
    background-position: top center!important;
    padding: 21px 20px 33px;
    margin-left: -28px;
    margin-right: -28px;
    margin-top: -5px;
    text-align: center;
    color: #fff;
}
.fl-faq-sec-hdr h3{
    margin: 0;
    font-family: 'YanoneKaffeesatzBold';
}
.fl-accordion-ctlr{
    padding-top: 50px;
}


.hh-accordion-title{
    background: #023c1d;
    color: #fff;
    font-size: 22px;
    line-height: 24px;
    padding: 0 100px 0 70px;
    position: relative;
    border-radius: 10px 10px 0 0;
    min-height: 85px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 25px;
    cursor: pointer;
}
.hh-accordion-title:after{
    content: "";
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    background: url(assets/images/plus-icon.png);
    width: 22px;
    height: 22px;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
}
.hh-accordion-title.hh-accordion-active:after{
    background: url(assets/images/minus-icon.png);
    width: 22px;
    height: 22px;
    background-position: center center;
    background-repeat: no-repeat;
}
.hh-accordion-title span{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #ffa70b;
    color: #fff;
    border-radius: 10px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    line-height: 56px;
    font-family: 'YanoneKaffeesatzBold';
    width: 65px;
}
.hh-accordion-title em{
    font-weight: normal;
    font-style: normal;
    font-family: 'Montserrat-BoldItalic';
    display: block;
    padding: 10px 0 10px 20px;
    font-size: 22px;
    line-height: 25px;
}

.hh-accordion-des{
    color: #fff;
    padding-bottom: 40px;
}
.hh-accordion-des-grd-ctlr ul{
    margin: 0 -10px;
}
.hh-accordion-des-grd-ctlr ul li{
    float: left;
    width: 33.3333%;
    padding: 105px 10px 45px;
}
.hh-accordion-des-grd-item{
    background-size: 100% 100%!important;
    background-repeat: no-repeat!important;
    padding: 0 28px 15px;
    min-height: 321px;
}
.hh-accordion-des-grd-item-img{
    text-align: center;
    padding-bottom: 17px;
}
.hh-accordion-des-grd-item-img img{
    margin-top: -105px;
}
.hh-accordion-des-grd-item-des p{
    margin-bottom: 0;
}
.hh-accordion-des-grd-item-des p strong{
    display: inline-block;
    vertical-align: baseline;
    font-family: 'Montserrat-Bold';
}

.hh-accordion-des-list ul li{
    padding-bottom: 25px;
}

.hh-accordion-des-list-item{
    background: #023c1d;
    border-radius: 30px;
    position: relative;
    padding: 10px 45px 10px 65px;
    min-height: 45px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.hh-accordion-des-list-item i{
    position: absolute;
    background: #ffa70b;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 30px 0 0 30px;
}
.hh-accordion-des-list-item span{
    display: block;
    vertical-align: baseline;
    padding-left: 15px;
}
.hh-accordion-des-list-item span strong{
    display: inline-block;
    vertical-align: baseline;
    font-family: 'Montserrat-Bold';
}



.fl-risk-free-des-controller {
    border: 6px solid #089147;
    padding: 28px 25px 0 27px;
    border-radius: 15px;
    background: #fff;
    display: flex;
    align-items: center;
}
.fl-risk-free-des{
    order: 1;
}
.fl-risk-free-des-rgt-img{
    order: 2;
}
.fl-risk-free-des{
    float: left;
    width: 70%;
    padding-right: 63px;
}
.fl-risk-free-des-rgt-img{
    float: right;
    text-align: right;
    width: 30%;
    padding-bottom: 22px;
}
.fl-risk-free-des-rgt-img img{
    margin-top: -5px;
}


.thank-you-line{
    text-align: center;
}

.fl-ftr-top-sec .thank-you-line strong{
    display: block;
    text-decoration: underline;
    font-weight: normal;
    color: #0039ad;
    font-family: 'Montserrat-Medium';
    padding-bottom: 50px;
    padding-top: 55px;
    font-size: 20px;
    line-height: 24px;
}

.sections-lft-round-img-ctlr{
    position: relative;
    overflow: hidden;
}
.sections-lft-round-img{
    position: absolute;
    z-index: 1;
    left: -213px;
    bottom: 340px;
    width: 426px;
    height: 426px;
    background-size: 100% 100%!important;
}
.sections-lft-round-img img{
    width: 100%;
}
.fl-pkg-section,
.fl-ftr-top-sec,
.hundred-percentage-sec-1{
    position: relative;
    z-index: 2;
}
.hundred-percentage-sec-1-ctlr .sections-lft-round-img{
    bottom: initial;
    top: 515px;
}



.fl-pkg-sec-ftr-des{
    padding-top: 65px;
    text-align: left;
    padding-bottom: 24px;
}
.pkg-area-con-bg{
    padding: 45px 0 30px;
    background-size: cover!important;
    background-position: center center;
}
.pkg-area-con-bg.pkg-area-con-bg-1{
    padding-top: 0;
}


.fl-pkg-grd-controller > ul > li{
    float: left;
    width: 33.333%;
    padding: 0 10px;
}

.fl-pkg-grd-col-btm-bdr{
    background: #097298;
    border-radius: 8px;
    padding-bottom: 4px;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(207,205,205,1);
    -moz-box-shadow: 0px 0px 7px 1px rgba(207,205,205,1);
    box-shadow: 0px 0px 7px 1px rgba(207,205,205,1);
}
.fl-pkg-grd-col-bdr-solid{
    position: relative;
}
.fl-pkg-grd-col-bdr-solid:before,
.fl-pkg-grd-col-bdr-solid:after{
    content: "";
    background: #bdd4dc;
    position: absolute;
    top: 4px;
    bottom: 2px;
    width: 1px;
    z-index: 1;
}
.order1 .fl-pkg-grd-col-bdr-solid:before,
.order1 .fl-pkg-grd-col-bdr-solid:after{
    background: #ded4d4;
}
.order2 .fl-pkg-grd-col-bdr-solid:before,
.order2 .fl-pkg-grd-col-bdr-solid:after{
    background: #c6dbd7;
    top: 10px;
}
.fl-pkg-grd-col-bdr-solid:before{
    left: -1px;
}
.fl-pkg-grd-col-bdr-solid:after{
    right: 0;
}

.fl-pkg-grd-col{
    padding-bottom: 5px;
    position: relative;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col-btm-bdr{
    margin-top: -45px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col-btm-bdr{
    background: #d50001;
}
.fl-pkg-grd-controller > ul > li:nth-child(3) .fl-pkg-grd-col-btm-bdr{
    background: #1dad94;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col{
    padding-bottom: 10px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-ftr ul{
    padding-top: 10px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-price{
    margin-bottom: 20px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col-fea-img{
    padding-bottom: 45px;
    padding-top: 50px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-ftr{
    padding-top: 15px;
}
.fl-pkg-grd-col-hdr{
    border-radius: 5px 5px 0 0;
}
.fl-pkg-grd-col-hdr span,.fl-pkg-grd-col-hdr strong{
    display: block;
}
.fl-pkg-grd-col-hdr{
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-repeat: repeat-x!important;
    background-size: cover!important;
}
.fl-pkg-grd-col-hdr span{
    font-size: 32px;
    line-height: 36px;
    font-family: 'BarlowCondensed-Bold';
    padding: 20px 10px 30px;
    background-repeat: repeat-x!important;
    border-radius: 5px 5px 0 0;
    text-shadow: 0px 1px #019bd4;
}
.order1 .fl-pkg-grd-col-hdr span{
    text-shadow: 0px 1px #b82121;
}
.order2 .fl-pkg-grd-col-hdr span{
    text-shadow: 0px 1px #23b49b;
}
.fl-pkg-grd-col-hdr strong{
    padding: 0 10px 12px 10px;
    font-size: 40px;
    line-height: 45px;
    font-family: 'BarlowCondensed-Bold';
    text-shadow: 0px 2px #595653;
}
.fl-pkg-grd-col-fea-img{
    margin: 0 auto;
    position: relative;
    display: table;
    padding: 28px 15px 35px;
}
.fl-pkg-grd-col-fea-img div{
    display: inline-block;
    vertical-align: baseline;
}
.fl-pkg-grd-col-fea-img span{
    position: absolute;
    right: 32px;
    top: 16px;
}
.order3 .fl-pkg-grd-col-fea-img span{
    right: 0;
}
.order1 .fl-pkg-grd-col-fea-img span {
    top: 30px;
    right: 32px;
}
.fl-pkg-grd-col{
    background: #f7f7f7;
    border: 3px solid #fff;
    border-radius: 8px;
}
.fl-pkg-price{
    position: relative;
    text-align: center;
    display: inline-block;
    vertical-align: baseline;
    padding: 0 76px 0 28px;
    margin-bottom: 10px;
}
.fl-pkg-price:before {
    content: "$";
    position: absolute;
    left: 3px;
    top: -7px;
    font-size: 42px;
    line-height: 100%;
    font-family: 'Barlow-Bold';
    margin-right: 2px;
}
.fl-pkg-price:after{
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    background: #000;
    border-radius: 100%;
    font-family: 'Barlow-Bold';
    margin-right: 2px;
    right: 63px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.fl-pkg-price strong {
    font-size: 68px;
    line-height: 58px;
    font-weight: normal;
    font-family: 'Barlow-Bold';
    display: inline-block;
}
.fl-pkg-price sup {
    position: absolute;
    right: 16px;
    font-size: 43px;
    font-family: 'Barlow-Bold';
    top: -3px;
    line-height: 100%;
}
.fl-pkg-price sub {
    position: absolute;
    right: -5px;
    font-size: 38px;
    bottom: 9px;
    font-family: 'BarlowCondensed-Regular';
}
.fl-creditcards{
    padding-left: 8px;
    padding-top: 5px;
}
.fl-pkg-save-price {
    padding-top: 15px;
}
.fl-pkg-save-price strong {
    font-family: 'Barlow-Bold';
    display: block;
    font-weight: normal;
    font-size: 25px;
    text-transform: uppercase;
    color: #da0000;
}
.fl-footer-wrap{
    background-color: #0f1314;
    color: #fff;
    text-align: center;
    padding: 55px 0 37px;
    font-size: 14px;
    line-height: 19px;
    font-family: 'Montserrat-Regular';
}
.fl-footer-inner{
    padding: 0 13px;
}
.fl-footer-wrap p{
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 0;
}
.fl-ftr-nav ul{
    padding-bottom: 20px;
}
.fl-ftr-nav ul li,.fl-ftr-nav ul li a{
    display: inline-block;
    vertical-align: baseline;
}
.fl-ftr-nav ul li{
    font-size: 18px;
    line-height: 20px;
    font-family: 'Montserrat-Medium';    
}
.fl-ftr-nav ul li:first-child{
    padding-left: 0;
}
.fl-ftr-nav ul li:last-child{
    padding-right: 0;
}
.fl-ftr-nav ul li a{
    color: inherit;
}
.fl-ftr-nav ul li a:hover{
    opacity: .7;
}
.fl-pkg-grd-ftr{
    padding-left: 10px;
    padding-right: 10px;
    display: table;
    margin: 0 auto;
    padding-top: 10px;
}
.fl-add-to-cart-btn-img{
    margin-bottom: 15px;
}

.fl-add-to-cart-btn-img a{
    display: inline-block;
    vertical-align: baseline;
}
.fl-pkg-grd-ftr ul li{
    position: relative;
    padding: 3px 0 15px 40px;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: 'Barlow-Medium';
}
.fl-pkg-grd-ftr ul li em{
    position: absolute;
    left: 0;
    top: 0;
}
.fl-copyright{
    padding-bottom: 30px;
}
.fl-copyright p{
    text-align: center;
}
.fl-ftr-nav ul li{
    padding: 0 25px;
    position: relative;
}
.fl-ftr-nav ul li:not(:last-child):after{
    content: "";
    width: 1px;
    height: 14px;
    position: absolute;
    left: 100%;
    margin-left: -1px;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.fl-ftr-des{
    color: #6c6161;
    padding: 0 3px;
    text-align: left;

}
.fl-ftr-des p{
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 20px;
}
.fl-ftr-des p:last-child{
    margin-bottom: 0;
}



@media(max-width: 1199px){
    .hide-md{
        display: none!important;
    }
    .show-md{
        display: block!important;
    }
    .hh-accordion-des-grd-item{
        min-height: 373px;
    }
}


@media(max-width: 1023px){
    .full-width-1023{
        width: 100%!important;
    }
    .smile-img-01,
    .hundred-percentage-img-01{
        text-align: center;
        padding-bottom: 25px;
    }
    .hundred-percentage-img-01 {
        padding-top: 10px;
    }
}


@media(max-width: 991px){
    .hide-sm{
        display: none!important;
    }
    .show-sm{
        display: block!important;
    }
    p br{
        display: none;
    }
    .fl-pkg-grd-controller > ul > li {
        width: 100%;
        margin-bottom: 20px;
    }
    .fl-pkg-grd-col-btm-bdr {
        max-width: 370px;
        margin: 0 auto;
    }
    .fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col-btm-bdr {
        margin-top: 0;
    }
    .fl-faq-section{
        margin-bottom: 20px;
    }
    .fl-risk-free-des-controller{
        display: block;
    }
    .fl-risk-free-des-rgt-img{
        width: 100%;
        text-align: center;
    }
    .fl-risk-free-des{
        width: 100%;
        padding-right: 0;
    }
    .hh-accordion-des-grd-ctlr ul li{
        width: 100%;
    }
    .hh-accordion-des-grd-item{
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        min-height: 330px;
    }
    .hh-accordion-title em{
        font-size: 20px;
    }
    .hh-accordion-title em br{
        display: none;
    }
}


@media(max-width: 767px){
    .hide-xs{
        display: none!important;
    }
    .show-xs{
        display: block!important;
    }
    .fl-ftr-des{
        padding: 0;
    }
    .fl-ftr-top-sec .thank-you-line strong{
        font-size: 20px;
    }
    .sections-lft-round-img{
        left: -140px;
        width: 280px;
        height: 280px;
    }
    .hundred-percentage-sec-1 {
        padding-bottom: 45px;
    }
    .hh-accordion-title{
        padding-right: 80px;
    }
    .hh-accordion-title:after{
        right: 29px;
    }
}



@media(max-width: 639px){

}
 


@media(max-width: 575px){
    .fl-creditcards{
        padding-left: 0;
    }
    .fl-risk-free-des-controller{
        padding-left: 15px;
        padding-right: 15px;
    }
    .fl-des-normal em {
        padding-top: 5px;
        font-size: 33px;
    }

    .hh-accordion-title em {
        font-size: 18px;
        padding-left: 15px;
    }
    .hh-accordion-title{
        padding-left: 40px;
    }
    .hh-accordion-title span {
        width: 40px;
        font-size: 43px;
    }
    .hh-accordion-title:after{
        width: 18px;
        background-size: 100% auto!important;
    }
    .hh-accordion-title {
        padding-right: 65px;
    }
    .hh-accordion-title:after {
        right: 23px;
    }
    .fl-faq-section{
        padding-bottom: 40px;
    }
    .hh-accordion-des-list-item{
        padding: 10px 25px 10px 45px;
    }
    .hh-accordion-des-list-item i{
        width: 45px;
    }
    .hh-accordion-des-list-item i img{
        width: 26px;
    }
    .hh-accordion-des-grd-ctlr ul li{
        padding-bottom: 35px;
    }
    .hh-accordion-des-grd-item{
        padding-left: 15px;
        padding-right: 15px;
    }
}


@media(max-width: 479px){
    .fl-ftr-nav ul li {
        padding: 0 16px;
        font-size: 15px;
    }
    .fl-footer-wrap p{
        font-size: 13px;
    }
    .fl-footer-wrap{
        padding: 45px 0 55px;
    }



}



@media(max-width: 359px){

}